<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="headers.css" rel="stylesheet">

        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }
          </style>

    </head>

    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-2" style="color: aliceblue; align-items: center;">Dungeons & Dranics</span>
            </a>         

            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="42" height="42">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">Game</a></li>
                <li><a class="dropdown-item" href="#">Wiki</a></li>
                <li><a class="dropdown-item  active" href="#">User page</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
    </header>

    <body>
        <hr class="featurette-divider">

        <div class="container marketing">
            
            <div class="row featurette">

                <div class="col-md-3 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="280" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">300х300</text></svg>
            
                  </div>

                <div class="col-md-9 order-md-2">
                  <h1 class="featurette-heading">Хуй Собачий</h1>
                  <h5 class="featurette-heading">#XC1224</h5>
                  <p class="lead">Каждый может кинуть камень в волка, но не каждый может кинуть волка в камень!</p>

                  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner">
                      
                        <div class="carousel-item active">
                           <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                        
                            <div class="container">
                                <div class="carousel-caption text-start " style="height: 89%;">
                                    <div class="row featurette">
                                        <div class="col-md-2 order-md-1">
                                            <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#111"></rect><text x="50%" y="50%" fill="#222" dy=".3em">140x140</text></svg>
                                        </div>
                                        <div class="col-md-10 order-md-2">
                                            <div style="margin-left: 40px;">
                                                <h4>Волчара 1</h4>
                                                <p>За то что самый волк среди волкоv</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                         
                             <div class="container">
                                 <div class="carousel-caption text-start " style="height: 89%;">
                                     <div class="row featurette">
                                         <div class="col-md-2 order-md-1">
                                             <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#111"></rect><text x="50%" y="50%" fill="#222" dy=".3em">140x140</text></svg>
                                         </div>
                                         <div class="col-md-10 order-md-2">
                                             <div style="margin-left: 40px;">
                                                 <h4>Волчара 2</h4>
                                                 <p>За то что самый волк среди волкоv</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                         
                             <div class="container">
                                 <div class="carousel-caption text-start " style="height: 89%;">
                                     <div class="row featurette">
                                         <div class="col-md-2 order-md-1">
                                             <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#111"></rect><text x="50%" y="50%" fill="#222" dy=".3em">140x140</text></svg>
                                         </div>
                                         <div class="col-md-10 order-md-2">
                                             <div style="margin-left: 40px;">
                                                 <h4>Волчара 3</h4>
                                                 <p>За то что самый волк среди волкоv</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                </div>
                
            </div>

            <hr class="featurette-divider">
            <h2>Friends</h2>
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="row">
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>And lastly this, the third column of representative placeholder content.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>

            <hr class="featurette-divider">


            <div class="row featurette">
                <div class="row">
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>And lastly this, the third column of representative placeholder content.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="row">
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              
                      <h2>Heading</h2>
                      <p>And lastly this, the third column of representative placeholder content.</p>
                      <p><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
            
            
        </div>

        <hr class="featurette-divider">

    </body>
</html>